*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx/
*.keystore
!debug.keystore

# Docusaurus
docs-site/node_modules/
docs-site/build/
docs-site/.docusaurus/
docs-site/.cache-loader/
